{% extends "base.html" %}
{% block title %}Agenda du Libre en Midi-Pyr&eacute;n&eacute;es{% endblock title %}

{% block content %}

    <h1>Le Logiciel Libre en Midi-Pyr&eacute;n&eacute;es</h1>
    <p>Les &eacute;v&eacute;nements du libre &agrave; Toulouse et en Midi-Pyr&eacute;n&eacute;es, issus de l'<a href="http://agendadulibre.org/" alt="Agenda du Libre" target="blank">agenda du libre</a>.</p>
    <p>Pour que votre &eacute;v&eacute;nement apparaisse ici, proposez-le &agrave; directement &agrave; l'agenda du Libre.</p>
	{% for event in events %}
    <div>{{ event.content|safe }}</div>
    {% endfor %}

{% endblock content %}
